<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Clock+", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "showcase", '#' %><li>
        <li><a href="mailto:s3723466@student.rmit.edu.au?subject=RAD-Final">Contact Us</a><li>
      </ul>
    </nav>
  </div>
</header> 